
<div *ngIf="isJoin; else joinForm">
    <a style="color: white">You join to tournament</a><br/>
  </div>

<ng-template #joinForm style="width: 100%;height:100%;padding-left:100px;">
<ul *ngIf="tournament" class="list-inline" >
    <li>
      <label class="col-mid-1">Name: </label> {{tournament.name}}
    </li>
      <li>
        <label>Description: </label> {{tournament.description}}
      </li>
        <li>
          <label>MinValueOfRankValue: </label> {{tournament.minValueOfRankValue}}
        </li>
        <li>
          <label>MaxNumberOfUser: </label> {{tournament.maxNumberOfUser}}
        </li>
        <li><button class="btn btn-lg btn-success" (click)='addUsertoTournament()'>Join</button></li>
        <li><span class="button btn-lg btn-danger" (click)='deleteTournament()'>Delete</span></li>
      </ul>
</ng-template>
