<h1 class="h3 mb-3 font-weight-normal text-white">Password Reminder</h1>
<div *ngIf="isSended; else createForm">
  <a style="color: white">Email sended.Check your email and Go login!</a><br/>
  <a href="auth/login" class="mt-2 btn btn-outline-success" style="margin-bottom: 20px">Log In</a>
</div>

<ng-template #createForm>
  <form name="form" class="form-signin" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <p class="text-white">Enter your email and we'll send you a new password.</p>
      <label for="email" class="sr-only">Email</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email placeholder="Email address"
      style="margin-bottom:10px"/>
      <div *ngIf="f.submitted && email.invalid">
        <div *ngIf="!!email.errors?.required" class="alert alert-danger text-dark">Email is required</div>
        <div *ngIf="!!email.errors?.email" class="alert alert-danger text-dark">Email must be a valid email address</div>
      </div>

      <button class="btn btn-lg btn-success btn-block">Send</button>
      <div *ngIf="f.submitted && isSendedFailed" class="alert alert-danger text-dark">
          Operation failed!<br/>{{errorMessage}}
        </div>

    </form>
</ng-template>
