<div *ngIf="isLoggedIn; else loggedOut">
  <h1>Welcome {{username}} to ChessApp</h1>
  <h4>Let's play some chess!</h4>
</div>

<ng-template #loggedOut>
    <form class="form-signin"  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <h1 class="h3 mb-3 font-weight-normal" style="color:white">Login</h1>

        <label for="username" class="sr-only">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required placeholder="Username" style="margin-bottom:10px"/>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="!!username.errors?.required" class="alert alert-danger text-dark">Username is required</div>
        </div>

        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" placeholder="Password" style="margin-bottom:10px" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="!!password.errors?.required" class="alert alert-danger text-dark">Password is required</div>
          <div *ngIf="!!password.errors?.minlength" class="alert alert-danger text-dark">Password must be at least 6 characters</div>
        </div>
        <button class="btn btn-lg btn-success btn-block">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
        <a href="forgotPassword" class="mt-2 text-white">Forgot Password?</a>
        <p class="mt-4 mb-3" style="color: white">&copy; ChessApp 2019</p>
    </form>
    <hr />
    <p style="color: white">Don't have an account?</p>
    <a href="signup" class="btn btn-outline-success" style="margin-bottom: 20px">Sign Up</a>
</ng-template>
