<h1 class="h3 mb-3 font-weight-normal" style="color:white">Score Board</h1>
<input id="search" class="form-control" [(ngModel)]="searchText" placeholder="Serach user"/>
<table class="table table-hover table-striped table-dark">
    <thead>
      <tr>
        <th>No.</th>
        <th>Username</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Matches</th>
        <th>Gamer Level</th>
      </tr>
    </thead>
  <tbody>
      <tr *ngFor="let user of userList | userFilter : searchText;let i = index">
          <td scope="row">{{i+1}}</td>
          <td *ngIf= "user.username == usernameId; else elseBlock">
            <a style="color: #5cb85c">{{user.username}}</a>
          </td>
            <ng-template #elseBlock>
            <td> {{user.username}} </td>
            </ng-template>
            <td>{{user.wins}}</td>
            <td>{{user.losses}}</td>
            <td>{{user.wins + user.losses}}</td>
            <td> {{user.rankValue}} </td>
      </tr>
  </tbody>
</table>

