<h1 class="h3 mb-3 font-weight-normal text-white">Chat Room</h1>
<table class="table">
  <tbody *ngFor='let room of lista | async'>

    <tr>
      <td>
        <h3 class="h3 mb-3 font-weight-normal text-white" *ngIf='room.user1Id === username; else elseBlock' >
          Chat with: <b>{{room.user2Id}}</b></h3>
        <ng-template #elseBlock><h3 class="h3 font-weight-normal text-white">
          Chat with: <b>{{room.user1Id}}</b></h3></ng-template>
      </td>
      <td>
        <button (click)="hideDiv(room.id)" class="btn btn-outline-light">
          <span *ngIf='isHidden && isOpened === room.id;else elseBut'>Close</span>
          <ng-template #elseBut>Open</ng-template>
          Chat
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="2" *ngIf='isOpened === room.id'>
        <app-room-list-detail [room]='room'></app-room-list-detail>
      </td>
    </tr>

  </tbody>
</table>

