<ul class="list-group">
    <li class=" list-group-item p-1 mb-1 bg-light text-dark"><strong >Rank Value</strong></li>
    <li class="p-1 mb-2 bg-dark text-white">
      <strong>{{user.rankValue}}</strong>
    </li>
    <li class=" list-group-item p-1 mb-1 bg-light text-dark"><strong >Matches</strong></li>
    <li class="p-1 mb-2 bg-dark text-white">
      <strong>{{user.wins + user.losses}}</strong>
    </li>
    <li class=" list-group-item p-1 mb-1 bg-light text-dark"><strong >Wins</strong></li>
    <li class="p-1 mb-2 bg-dark text-white">
      <strong>{{user.wins}}</strong>
    </li>
    <li class=" list-group-item p-1 mb-1 bg-light text-dark"><strong >Losses</strong></li>
    <li class="p-1 mb-2 bg-dark text-white">
      <strong>{{user.losses}}</strong>
    </li>
    <li class=" list-group-item p-1 mb-1 bg-light text-dark"><strong >Average Time Per Move</strong></li>
    <li class="p-1 mb-2 bg-dark text-white">
      <strong>{{user.roundTime/user.movesSum}}</strong>
    </li>
    <li class=" list-group-item p-1 mb-1 bg-light text-dark"><strong>Average Moves Per Match</strong></li>
    <li class="p-1 mb-2 bg-dark text-white">
      <strong>{{user.movesSum/(user.wins + user.losses)}}</strong>
    </li>
</ul>

