<strong class="text-white">Rank Value: </strong>
    <table class="table table-striped table-hover table-dark">
      <tbody>
    <tr><td>{{user.rankValue}}</td></tr>
  </tbody>
</table>
<strong class="text-white">Matches: </strong>
    <table class="table table-striped table-hover table-dark">
      <tbody>
    <tr><td scope="col">{{user.wins + user.losses}}</td></tr>
  </tbody>
</table>
<strong class="text-white">Wins: </strong>
    <table class="table table-striped table-hover table-dark">
      <tbody>
    <tr><td>{{user.wins}}</td></tr>
  </tbody>
</table>
<strong class="text-white">Losses: </strong>
    <table class="table table-striped table-hover table-dark">
      <tbody>
    <tr><td scope="col">{{user.losses}}</td></tr>
  </tbody>
</table>
<strong class="text-white">Average Time Per Move: </strong>
    <table class="table table-striped table-hover table-dark">
      <tbody>
    <tr><td>{{user.roundTime/user.movesSum}}</td></tr>
  </tbody>
</table>
<strong class="text-white">Average Moves Per Match: </strong>
    <table class="table table-striped table-hover table-dark">
      <tbody>
    <tr><td scope="col">{{user.movesSum/(user.wins + user.losses)}}</td></tr>
  </tbody>
</table>
