<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-brand btn btn-dark" routerLink="home" [disabled]='isDisabled'>ChessApp</button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <button class="nav-link btn btn-outline-dark" routerLink="home" [disabled]='isDisabled'>Home</button>
      </li>
      <!-- <li *ngIf="authority === 'user'" class="nav-item">
        <button class="nav-link btn btn-outline-dark" routerLink="user" [disabled]='isDisabled'>User Board</button>
      </li> -->
      <li *ngIf="authority === 'user'" class="nav-item dropdown">
        <button class="nav-link dropdown-toggle btn btn-outline-dark" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]='isDisabled'>User</button>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" routerLink="user">Edit User</a>
          <a class="dropdown-item" routerLink="userStats">User Statistics</a>
        </div>
      </li>
      <li *ngIf="authority === 'user'" class="nav-item">
          <button class="nav-link btn btn-outline-dark" routerLink="scoreboard" [disabled]='isDisabled'>Score Board</button>
        </li>
    <li *ngIf="authority === 'user'" class="nav-item dropdown">
      <button class="nav-link dropdown-toggle btn btn-outline-dark" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]='isDisabled'>Tournament</button>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" routerLink="addtour">Create Tournament</a>
        <a class="dropdown-item" routerLink="tournament">Join to Tournament</a>
        <a class="dropdown-item" routerLink="usertournament">User Tournament</a>
      </div>
    </li>
    <li *ngIf="authority === 'user'" class="nav-item">
      <button class="nav-link btn btn-outline-dark" routerLink="gamerooms" [disabled]='isDisabled'>Game Rooms</button>
    </li>
    <li *ngIf="authority === 'admin'" class="nav-item">
      <a class="nav-link " routerLink="admin">Admin Board</a>
    </li>
    <li *ngIf="authority === 'pm'" class="nav-item">
      <a class="nav-link" routerLink="pm">PM Board</a>
    </li>
  </ul>
  <div *ngIf="!authority">
    <a class="btn btn-success" routerLink="auth/login">Login</a>
  </div>
  <div *ngIf="!authority">
    <a class="btn btn-outline-success my-2 my-sm-0" routerLink="signup" style="margin-left: 10px">Sign up</a>
  </div>
  <div *ngIf="authority">
    <button class="btn btn-outline-secondary" routerLink="home" [disabled]='isDisabled'>Logout</button>
  </div>
  </div>
  </nav>
  <main role="main" class="container">
  <div class="transbox">
  <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div *ngIf="authority">

  <input type="button" value="Chat" class="btn btn-primary btn-lg chat" routerLink="rooms" [disabled]='isDisabled'>
    <span *ngIf="notifications; else haveNotification">
        <input type="button" value="N" class="btn btn-danger btn-lg noti" (click)="turnOffNotification()" routerLink="notifications" [disabled]='isDisabled'>
    </span>
    <ng-template #haveNotification>
        <input type="button" value="N" class="btn btn-primary btn-lg noti" routerLink="notifications" [disabled]='isDisabled'>
    </ng-template>
  </div>
</footer>

