<h1 class="h3 mb-3 font-weight-normal" style="color:white">Quick Game Matches</h1>
<input id="search" class="form-control" [(ngModel)]="searchText" placeholder="Serach user"/>
<table class="table table-striped table-dark">
  <tbody *ngFor="let match of matches | async | tourFilter : searchText; let i = index">
    <tr>
      <td>No. {{i+1}}</td>
      <td>Name: {{match.name}}</td>
      <td><button (click)="hideDiv(match.id)" class="btn btn-outline-light">
        <span *ngIf='isHidden && isOpened === match.id;else elseBut'>Close</span>
      <ng-template #elseBut>Details</ng-template>
      </button></td>
    </tr>
    <tr>
      <td colspan="3" *ngIf='isOpened === match.id'>
          <table class="table table-hover table-striped table-light">
            <thead>
              <tr class="text-dark">
                <th>Match status</th>
                <th>Player</th>
                <th>Match winner</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-dark">
                <td>{{match.status}}</td>
                <td>{{match.userOneUsername}} vs {{match.userTwoUsername}}</td>
                <td *ngIf="match.whoWon === match.userOneId"class="p-2">{{match.userOneUsername}}</td>
                <td *ngIf="match.whoWon === match.userTwoId && match.userTwoId !== 0"class="p-2">{{match.userTwoUsername}}</td>
                <td *ngIf="match.whoWon === 0" class="p-2">-</td>
              </tr>
            </tbody>
          </table>
      </td>
  </tr>
  </tbody>
</table>
