<h1 class="h3 mb-3 font-weight-normal text-white" style="color:white">User Profil</h1>
<div class="center">
  <div class="text-white mb-3 box">

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <strong>Username: </strong>
            <input type="text" value="{{form.username}}" [ngClass]="isDisabled ? 'text-white': 'text-muted'"
            class="form-control bg-dark" username [disabled]='true'>
        <div class="list-unstyled mt-3 mb-2">
            <li class="form-group">
              <strong >Email: </strong>
              <input type="text" class="form-control bg-dark text-white" [(ngModel)]="form.email" #email="ngModel"
               name="email" required email [disabled]="isDisabled"/>
              <div *ngIf="f.submitted && email.invalid">
                <div *ngIf="!!email.errors?.required" style="background-color: tomato; color: black; border-style: none">Email is required</div>
                <div *ngIf="!!email.errors?.email" style="background-color: tomato; color: black; border-style: none">Email must be a valid email address</div>
              </div>
              <div *ngIf="f.submitted && isEditedFailed" class="alert alert-warning" style="background-color: tomato; color: black; border-style: none">
                Edit failed!<br/>{{errorMessage}}
              </div>
            </li>
            <li style="padding-bottom: 15px;"><strong >Joined: </strong>
              <input type="data" value="{{form.joined}}" [ngClass]="isDisabled ? 'text-white': 'text-muted'"  class="form-control bg-dark" id="data"
              required [disabled]='true'>
            </li>
        </div>
          <div class="but">
            <div *ngIf="isDisabled; else elseBlock" class="but">
              <button type="button" (click)="disabledFunction()" class="btn btn-lg btn-block btn-success">Edit</button>
              <button type="button" class="btn btn-lg btn-block btn-danger">Delete</button>
            </div>
            <ng-template #elseBlock class="but">
              <input type="submit"  class="btn btn-lg btn-block btn-success" value="Save">
              <button type="button" (click)="disabledFunction()" class="btn btn-lg btn-block btn-secondary">Back</button>
            </ng-template>
        </div>
        </form>
  </div>

</div>
