<h1 class="h3 mb-3 font-weight-normal text-white" >Add Friend</h1>
<input id="search" class="form-control" [(ngModel)]="searchText" placeholder="Serach user"/>
<div class="center">
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>Username</th>
        <th>Action</th>
      </tr>
    </thead>
  <tbody>
      <tr *ngFor="let friend of friendsList | friendFilter : searchText">

        <td *ngIf="friend.userOneName !== usernameId; else elseBlock">
          {{friend.userOneName}}
        </td>
        <ng-template #elseBlock>
          <td>{{friend.userTwoName}}</td>
        </ng-template>
        <td>
            <button type="button" (click)="sendInvitation(friend.id)" class="btn btn-primary">Send Invitation</button>
        </td>
      </tr>
      <tr *ngFor="let friend of friendAccept | friendFilter : searchText">

          <td *ngIf="friend.userOneName !== usernameId; else elseBlock">
            {{friend.userOneName}}
          </td>
          <ng-template #elseBlock>
            <td>{{friend.userTwoName}}</td>
          </ng-template>
          <td>
            <button type="button" (click)="acceptInvitation(friend.id)" class="btn btn-success">Accept</button>
            <button type="button" (click)="denyInvitation(friend.id)" class="ml-2 btn btn-danger">Deny</button>
          </td>
      </tr>
      <tr *ngFor="let friend of friendWaitList | friendFilter : searchText">

          <td *ngIf="friend.userOneName !== usernameId; else elseBlock">
            {{friend.userOneName}}
          </td>
          <ng-template #elseBlock>
            <td>{{friend.userTwoName}}</td>
          </ng-template>
          <td>
            Waiting for Acceptation
          </td>
      </tr>
      <tr *ngIf="isEmpty">
        <td colspan="2">No more available users</td></tr>
  </tbody>
</table>
</div>

