<!-- <div class="container justify-content-center" >
    <div class="d-flex flex-column bd-highlight" style="max-height: 812px;">

        <div class="boxone">
          <input id="input{{room.id}}" placeholder="Type a message..." type="text" class="p-2 mt-auto input-group border border-light rounded"
          #input
          (keyup.enter)="sendMessage(input.value)"
          style="margin-top: 10px"/>
          <div class="p-2 chat" id="{{room.id}}" class="transbox">
            <div class="alert alert-secondary flex-wrap" style="overflow-wrap: break-word;" *ngFor="let roomMessage of messageList | async">{{roomMessage.message}}</div>
          </div>
      </div>
    </div>
  </div> -->
  <div class="text-white mb-2 boxone" >
      <input type="text" class="p-2 mb-2 mt-auto input-group border border-light rounded" id="input{{room.id}}" placeholder="Type a message..."
      #input
      (keyup.enter)="sendMessage(input.value)"
      style="margin-top: 10px"/>
      <div class="p-2 chat" id="{{room.id}}" class="transbox">
        <div class="alert alert-secondary flex-wrap" style="overflow-wrap: break-word;" *ngFor="let roomMessage of messageList | async">{{roomMessage.message}}</div>
      </div>

  </div>
