<div class="container justify-content-center" style="height: 100%; margin-bottom: 20px">
  <div class="d-flex flex-column" style=" max-height: 812px;">
    <button (click)="hideDiv()" class="btn btn-outline-light">
      <span *ngIf='!isHidden;else elseBlock'>Open</span>
      <ng-template #elseBlock>Close</ng-template>
      Chat
    </button>
    <div *ngIf='isHidden'>
        <div class="p-2 chat" id="{{room.id}}">Jestem</div>
        <input id="input{{room.id}}" type="text" class="p-2 mt-auto input-group border border-light rounded"
           #input
           (keyup.enter)="sendMessage(input.value)"/>
    </div>
  </div>
</div>
