<h1 class="h3 mb-3 font-weight-normal" style="color:white">Notifications</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Message</th>
      </tr>
    </thead>
  <tbody>
      <tr *ngFor="let noti of notificationList | async">
          <td *ngIf= "!noti.seen ; else elseBlock">
            <span style="background-color:tomato;color: white">{{noti.message}}</span>
          </td>
            <ng-template #elseBlock>
            <td> {{noti.message}} </td>
            </ng-template>
      </tr>
  </tbody>
</table>
